---
import "../globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Natalia + Jakub">
	<header>
		<div class="logo text-center py-5 text-xl">N&J</div>
		<img
			src="../../public/images/session-mobile.webp"
			alt="zdjęcie Natalii i Jakuba"
		/>
		<div class="p-7 text-xl">
			<h1 class="text-6xl">Ślub</h1>
			<h2 class="pl-10">NATALII</h2>
			<h2 class="pl-20"><span>i</span> JAKUBA</h2>
			<h3 class="text-center text-sm py-5"> 14 • CZERWCA • 2025</h3>
		</div>
	</header>
</Layout>
