:root {
--beige: #f8f6e6;
--green: #1f4029;
}

@font-face {
    font-family: 'moon-dance';
    src: url('/fonts/MoonDance-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--beige);
    color: var(--green);
}

h1, section h2 {
    font-family: "moon-dance", sans-serif;
}

